@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.background-color {
  background: #000000 !important;
}
.text-color {
  color: #ffffff !important;
}
.text-primary {
  color: #000000 !important;
}
.navbar-item {
  font-size: 18px;
  font-weight: bold;
  transition: all 0.8s;
}
.active,
.navbar-item:hover {
  background: #ffffff !important;
  color: #000000 !important;
}
.post-shadow {
  border: 1px solid white;
  box-shadow: 1px 1px 20px #5d5d5d61 !important;
}
.img-shadow {
  box-shadow: 20px 20px 0px #000000 !important;
}
.bg-home-hero {
  background: linear-gradient(hwb(0 0% 100% / 0.434), rgba(66, 65, 65, 0.495)),
    url("../public/images/hero-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gradient-bg {
  background: linear-gradient(to bottom, #ffffff, #b8b8b848);
}

.bg-whoweare {
  background: linear-gradient(#6494ed29, #000000),
    url("../public/images/who-we-are.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.offer-bg {
  background: linear-gradient(#6494ed29, #000000),
    url("../public/images/what-we-offer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-bg {
  background: linear-gradient(#6494ed29, #000000),
    url("../public/images/about-page-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.who-heading {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 800;
  color: black;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li button {
  display: none !important;
}

.slick-arrow .slick-next {
  display: none !important;
}

.test .slick-track {
  display: flex !important;
}

.pro .slick-track {
  width: 100% !important;
  display: flex !important;
}


.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  position: absolute !important;
  z-index: -10 !important;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.619);
  z-index: -9 !important;
}


.service-icon svg{
  width: 100px !important;
  height: 100px !important;
}